<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logPath" value="c:\\replicationLog.txt"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviorReplication">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="serviceBehaviorReplication" name="ReplicationServiceApplication.Replication">
        <endpoint address="http://localhost:58167/Replication.svc" binding="basicHttpBinding" bindingConfiguration="" contract="ReplicationLibrary.IReplication"/>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>